{% extends "base.html" %}

{% block content %}
    {% if is_home %}
        <h2 class="text-center p-2">Welcome {{ user.first_name }}!</h2>
        <h3 class="text-center p-2">View and edit your details below</h3>
        <p class="text-center p-2">Add values to the fields you wish to change and click submit (empty fields will not
            be
            changed).</p>
    {% else %}
        <h2 class="text-center p-2 text-danger">This is an admin area</h2>
        <h3 class="text-center p-2">View and edit employee details below</h3>
    {% endif %}


    <container class="container">
        <form method="POST"
                {% if is_home %}
              action="/home"
                {% else %}
              action="{{ url_for('main.view_record', user_id=user.id) }}"
                {% endif %}
              class="d-flex justify-content-center flex-column">
            <table class="table table-bordered text-center w-50 mx-auto">
                <tr>
                    <td class="table-primary">First Name</td>
                    <td class="table-light">{{ user.first_name }}</td>
                    <td class="table-light">
                        <input type="text" id="first_name" name="first_name" placeholder="Enter new first name">
                    </td>

                </tr>
                <tr>
                    <td class="table-primary">Last Name</td>
                    <td class="table-light">{{ user.last_name }}</td>
                    <td class="table-light">
                        <input type="text" id="last_name" name="last_name" placeholder="Enter new last name">
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Email</td>
                    <td class="table-light">{{ user.email }}</td>
                    <td class="table-light">
                        <input type="email" id="email" name="email" placeholder="Enter new email">
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Phone number</td>
                    <td class="table-light">{{ user.contact_number }}</td>
                    <td class="table-light">
                        <input type="text" id="contact_number" name="contact_number"
                               placeholder="Enter new phone number">
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Job Role</td>
                    <td class="table-light">
                        {{ user.job.job_title }}
                    </td>
                    <td class="table-light">
                        <select name="job_title" id="job_title"
                                {# Job title can only bed edited by Admin. So we hide it for regular Users. #}
                                {% if is_home %}
                                hidden
                                {% endif %}
                        >
                            <option selected></option>
                            <option>{{ job_roles.SOFTWARE_ENGINEER.value }}</option>
                            <option>{{ job_roles.PRODUCT_MANAGER.value }}</option>
                            <option>{{ job_roles.SENIOR_SOFTWARE_ENGINEER.value }}</option>
                            <option>{{ job_roles.TEAM_MANAGER.value }}</option>
                            <option>{{ job_roles.UX_DESIGNER.value }}</option>
                            <option>{{ job_roles.CHIEF_TECHNOLOGY_OFFICER.value }}</option>
                            <option>{{ job_roles.HUMAN_RESOURCES_MANAGER.value }}</option>
                            <option>{{ job_roles.MARKETING_DIRECTOR.value }}</option>
                            <option>{{ job_roles.IT_SUPPORT_SPECIALIST.value }}</option>
                            <option>{{ job_roles.DATA_ANALYST.value }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Base Salary</td>
                    <td class="table-light">
                        {% for job in jobs %}
                            {% if job.id == user.job_id %}
                                {{ job.base_salary }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="table-success">Skill 1</td>
                    <td class="table-light">{{ user.skill_1 }}</td>
                    <td class="table-light">
                        <select name="skill_1" id="skill_1">
                            <option selected></option>
                            <option>{{ skills.JAVA.value }}</option>
                            <option>{{ skills.PYTHON.value }}</option>
                            <option>{{ skills.TYPESCRIPT.value }}</option>
                            <option>{{ skills.AWS.value }}</option>
                            <option>{{ skills.GIT.value }}</option>
                            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
                            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
                            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
                            <option>{{ skills.PHOTOGRAPHY.value }}</option>
                            <option>{{ skills.DATA_ANALYTICS.value }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="table-success">Skill 2</td>
                    <td class="table-light">{{ user.skill_2 }}</td>
                    <td class="table-light">
                        <select name="skill_2" id="skill_2">
                            <option selected></option>
                            <option>{{ skills.JAVA.value }}</option>
                            <option>{{ skills.PYTHON.value }}</option>
                            <option>{{ skills.TYPESCRIPT.value }}</option>
                            <option>{{ skills.AWS.value }}</option>
                            <option>{{ skills.GIT.value }}</option>
                            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
                            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
                            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
                            <option>{{ skills.PHOTOGRAPHY.value }}</option>
                            <option>{{ skills.DATA_ANALYTICS.value }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="table-success">Skill 3</td>
                    <td class="table-light">{{ user.skill_3 }}</td>
                    <td class="table-light">
                        <select name="skill_3" id="skill_3">
                            <option selected></option>
                            <option>{{ skills.JAVA.value }}</option>
                            <option>{{ skills.PYTHON.value }}</option>
                            <option>{{ skills.TYPESCRIPT.value }}</option>
                            <option>{{ skills.AWS.value }}</option>
                            <option>{{ skills.GIT.value }}</option>
                            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
                            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
                            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
                            <option>{{ skills.PHOTOGRAPHY.value }}</option>
                            <option>{{ skills.DATA_ANALYTICS.value }}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-secondary px-4 mx-auto">Submit</button>
        </form>

    </container>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>


{% endblock %}