{% extends "base.html" %}
{% block content %}
    {% if is_home %}
        <h2 class="text-center p-2">Welcome {{ user.first_name }}!</h2>
        <h3 class="text-center p-2">View and edit your details below</h3>
        <p class="text-center p-2">
            Add values to the fields you wish to change and click submit (empty fields will not
            be
            changed).
        </p>
    {% else %}
        <h2 class="text-center p-2 text-danger">This is an admin area</h2>
        <h3 class="text-center p-2">View and edit employee details below</h3>
    {% endif %}
    <container class="container d-flex flex-column">
        <form method="POST"
                {% if is_home %} action="/home" {% else %}
              action="{{ url_for('main.view_record', user_id=user.id) }}" {% endif %}
              class="d-flex flex-column mb-4">
            {{ form.hidden_tag() }}
            <table class="table table-bordered text-center mx-auto">
                <tr>
                    <td class="table-primary">First Name</td>
                    <td class="table-light">{{ user.first_name }}</td>
                    <td class="table-light">
                        {{ form.first_name(class="validate form-control", placeholder="Enter new first name") }}
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ form.first_name.errors[0] }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Last Name</td>
                    <td class="table-light">{{ user.last_name }}</td>
                    <td class="table-light">
                        {{ form.last_name(class="validate form-control", placeholder="Enter new last name") }}
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ form.last_name.errors[0] }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Email</td>
                    <td class="table-light">{{ user.email }}</td>
                    <td class="table-light">
                        {{ form.email(class="validate form-control", placeholder="Enter new email") }}
                        {% if form.email.errors %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ form.email.errors[0] }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Phone number</td>
                    <td class="table-light">{{ user.contact_number }}</td>
                    <td class="table-light">
                        {{ form.contact_number(class="validate form-control", placeholder="Enter new phone number") }}
                        {% if form.contact_number.errors %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ form.contact_number.errors[0] }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Job Role</td>
                    <td class="table-light">{{ user.job.job_title }}</td>
                    <td class="table-light">
                        <select name="job_title" id="job_title" class="form-control"
                                {# Job title can only bed edited by Admin. So we hide it for regular Users. #}
                                {% if is_home %}hidden{% endif %}
                        >
                            <option selected></option>
                            <option>{{ job_roles.SOFTWARE_ENGINEER.value }}</option>
                            <option>{{ job_roles.PRODUCT_MANAGER.value }}</option>
                            <option>{{ job_roles.SENIOR_SOFTWARE_ENGINEER.value }}</option>
                            <option>{{ job_roles.TEAM_MANAGER.value }}</option>
                            <option>{{ job_roles.UX_DESIGNER.value }}</option>
                            <option>{{ job_roles.CHIEF_TECHNOLOGY_OFFICER.value }}</option>
                            <option>{{ job_roles.HUMAN_RESOURCES_MANAGER.value }}</option>
                            <option>{{ job_roles.MARKETING_DIRECTOR.value }}</option>
                            <option>{{ job_roles.IT_SUPPORT_SPECIALIST.value }}</option>
                            <option>{{ job_roles.DATA_ANALYST.value }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="table-primary">Base Salary</td>
                    <td class="table-light">{{ user.job.base_salary }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="table-primary">Department</td>
                    <td class="table-light">{{ user.job.department }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="table-success">Skill 1</td>
                    <td class="table-light">{{ user.skill_1 }}</td>
                    <td class="table-light">
                        <select name="skill_1" id="skill_1" class="form-control">
                            <option selected></option>
                            <option>{{ skills.JAVA.value }}</option>
                            <option>{{ skills.PYTHON.value }}</option>
                            <option>{{ skills.TYPESCRIPT.value }}</option>
                            <option>{{ skills.AWS.value }}</option>
                            <option>{{ skills.GIT.value }}</option>
                            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
                            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
                            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
                            <option>{{ skills.PHOTOGRAPHY.value }}</option>
                            <option>{{ skills.DATA_ANALYTICS.value }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="table-success">Skill 2</td>
                    <td class="table-light">{{ user.skill_2 }}</td>
                    <td class="table-light">
                        <select name="skill_2" id="skill_2" class="form-control">
                            <option selected></option>
                            <option>{{ skills.JAVA.value }}</option>
                            <option>{{ skills.PYTHON.value }}</option>
                            <option>{{ skills.TYPESCRIPT.value }}</option>
                            <option>{{ skills.AWS.value }}</option>
                            <option>{{ skills.GIT.value }}</option>
                            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
                            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
                            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
                            <option>{{ skills.PHOTOGRAPHY.value }}</option>
                            <option>{{ skills.DATA_ANALYTICS.value }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="table-success">Skill 3</td>
                    <td class="table-light">{{ user.skill_3 }}</td>
                    <td class="table-light">
                        <select name="skill_3" id="skill_3" class="form-control">
                            <option selected></option>
                            <option>{{ skills.JAVA.value }}</option>
                            <option>{{ skills.PYTHON.value }}</option>
                            <option>{{ skills.TYPESCRIPT.value }}</option>
                            <option>{{ skills.AWS.value }}</option>
                            <option>{{ skills.GIT.value }}</option>
                            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
                            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
                            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
                            <option>{{ skills.PHOTOGRAPHY.value }}</option>
                            <option>{{ skills.DATA_ANALYTICS.value }}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-secondary px-4 mx-auto">Submit</button>
        </form>
        {% if not is_home %}
            <form action="{{ url_for('main.delete_user', user_id=user.id) }}"
                  method="POST"
                  class="mx-auto"
                  onsubmit="event.preventDefault(); confirmDelete(this);">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-danger px-4">DELETE USER</button>
            </form>
        {% endif %}
    </container>
    <script>
        function confirmDelete(form) {
            const userConfirmation = confirm("Are you sure you want to delete this user?");
            if (userConfirmation) {
                return form.submit();
            } else {
                return false;
            }
        }
    </script>
{% endblock %}
