{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block register %}class="nav-link active"{% endblock %}
{% block home %}class="nav-link" href="/"{% endblock %}

{% block content %}

    <div class="container-sm">
        <form method="POST" action="{{ url_for('main.register') }}">
            {{ form.hidden_tag() }}
            <h3 class="text-center p-3">Sign up as a new user</h3>
            <div class="form-group">
                {{ form.email.label() }}
                {{ form.email(class="validate form-control", placeholder="Enter email") }}
                {% if form.email.errors %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ form.email.errors[0] }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.first_name.label() }}
                {{ form.first_name(class="validate form-control", placeholder="Enter First Name") }}
                {% if form.first_name.errors %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ form.first_name.errors[0] }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name.label() }}
                {{ form.last_name(class="validate form-control", placeholder="Enter Last Name") }}
                {% if form.last_name.errors %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ form.last_name.errors[0] }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(class="validate form-control", placeholder="Password") }}
                {% if form.password.errors %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ form.password.errors[0] }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label() }}
                {{ form.confirm_password(class="validate form-control", placeholder="Confirm Password") }}
                {% if form.confirm_password.errors %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ form.confirm_password.errors[0] }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-warning m-2 px-4">Submit</button>
            </div>

        </form>
    </div>

{% endblock %}