{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block search_users %}class="nav-link active"{% endblock %}
{% block home %}class="nav-link"{% endblock %}
{% block content %}
    <h2 class="text-center p-4">Search users</h2>
    <h3 class="text-center p-4">Enter one or more skills</h3>
    <form method="POST" action="/search-users" class="container text-center">
        {{ form.hidden_tag() }}
        <select class="form-select py-2" name="skill_1" id="skill_1">
            <option selected></option>
            <option>{{ skills.JAVA.value }}</option>
            <option>{{ skills.PYTHON.value }}</option>
            <option>{{ skills.TYPESCRIPT.value }}</option>
            <option>{{ skills.AWS.value }}</option>
            <option>{{ skills.GIT.value }}</option>
            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
            <option>{{ skills.PHOTOGRAPHY.value }}</option>
            <option>{{ skills.DATA_ANALYTICS.value }}</option>
        </select>
        <select class="form-select py-2" name="skill_2" id="skill_2">
            <option selected></option>
            <option>{{ skills.JAVA.value }}</option>
            <option>{{ skills.PYTHON.value }}</option>
            <option>{{ skills.TYPESCRIPT.value }}</option>
            <option>{{ skills.AWS.value }}</option>
            <option>{{ skills.GIT.value }}</option>
            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
            <option>{{ skills.PHOTOGRAPHY.value }}</option>
            <option>{{ skills.DATA_ANALYTICS.value }}</option>
        </select>
        <select class="form-select py-2" name="skill_3" id="skill_3">
            <option selected></option>
            <option>{{ skills.JAVA.value }}</option>
            <option>{{ skills.PYTHON.value }}</option>
            <option>{{ skills.TYPESCRIPT.value }}</option>
            <option>{{ skills.AWS.value }}</option>
            <option>{{ skills.GIT.value }}</option>
            <option>{{ skills.CUSTOMER_SERVICE.value }}</option>
            <option>{{ skills.PROJECT_MANAGEMENT.value }}</option>
            <option>{{ skills.GRAPHIC_DESIGN.value }}</option>
            <option>{{ skills.PHOTOGRAPHY.value }}</option>
            <option>{{ skills.DATA_ANALYTICS.value }}</option>
        </select>
        <button type="submit" class="btn btn-primary px-4 py-2 mx-auto">Search</button>
    </form>
    <div class="row justify-content-center p-3">
        <div class="col-auto">
            <table class="table table-hover table-responsive">
                {% if users %}
                    <thead>
                    <tr>
                        <th class="table-primary">Id</th>
                        <th class="table-primary">Email</th>
                        <th class="table-primary">First Name</th>
                        <th class="table-primary">Last Name</th>
                        <th class="table-primary">Contact Number</th>
                        <th class="table-primary">Job Title</th>
                        <th colspan="3" class="text-center table-success">Skills</th>
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for user in users %}
                    <tr style="cursor: pointer"
                        onclick="window.location='{{ url_for('main.view_record', user_id=user.id) }}'">
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.contact_number }}</td>
                        <td>{{ user.job.job_title }}</td>
                        <td>{{ user.skill_1 }}</td>
                        <td>{{ user.skill_2 }}</td>
                        <td>{{ user.skill_3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
