/*global styles*/
a {
  text-decoration: none;
  color: black;
}

td > a {
  display: block;
}


/*Utility classes*/
.error {
  background-color: palevioletred;
}
.cursor-pointer {
  cursor: pointer;
}


